*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 50px;
  left: 0;
  width: 100%;
  height: 102%;
  background: #fafafa;
  border-right: 1px solid rgb(211, 211, 211);
  display: grid;
  grid-template-rows: 100px;
  row-gap: 1rem;
  box-shadow: hsl(0, 67%, 44%);
  transition: all 0.3s linear;
  transform: translateX(-100%);
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
}

.show-sidebar {
  transform: translateX(50px);
  width: 600px;
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 600px;
  }
}
.sidebar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 110px;
  background: #ffffff;
  overflow: hidden;
  border-bottom: 1px solid #dbdbdb;
}
.sidebar-header h1 {
  justify-content: center;
  margin-top: -5px;
  font-size: 30px;
  color: #4c65a7;
  font-weight: bold;
}
.sidebar-header p {
  justify-content: center;
  font-size: 15px;
  color: #595959;
}
.sidebar-header span {
  font-weight: 500;
}
.sidebar-header .close-btn {
  position: absolute;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  color: #b2b2b2;
  top: 10px;
  right: 30px;
}
.sidebar-header .close-btn:hover {
  color: hsl(0, 71%, 66%);
}
.sidebar-header .board_container .board_header h1 {
  font-size: 24px;
}
.sidebar-header .bookmark-btn {
  position: absolute;
  font-size: 1.6rem;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  color: #0675f4;
  top: 15px;
  right: 80px;
}

.detail-bookmark {
  height: 92.5vh;
  padding: 40px;
  text-align: left;
  overflow-y: scroll;
}
.detail-bookmark h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.detail-bookmark .close-btn {
  position: absolute;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  color: #b2b2b2;
  top: 10px;
  right: 30px;
}
.detail-bookmark .close-btn:hover {
  color: hsl(0, 71%, 66%);
}
.detail-bookmark ul {
  padding-left: 0px;
}
.detail-bookmark ul li {
  position: relative;
  padding: 18px;
  border-radius: 20px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: rgba(173, 173, 173, 0.2196078431) 0px 3px 6px;
}
.detail-bookmark ul div:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.detail-bookmark ul div:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}
.detail-bookmark ul div:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
}
.detail-bookmark ul button {
  position: absolute;
  right: 30px;
  bottom: 70px;
  font-size: 11px;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
}

.bookmark-text {
  font-size: 18px;
  padding: 40px;
}

.detail-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.detail-content .detail-information {
  display: flex;
  flex-direction: column;
  width: 540px;
}
.detail-content .report-population {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px 20px 30px 20px;
  border: 1px solid #dbdbdb;
  margin: 15px 0;
  box-shadow: rgba(173, 173, 173, 0.2196078431) 0px 3px 6px;
}
.detail-content .report-population h3 {
  font-size: 18px;
  color: #4c65a7;
  font-weight: bold;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 24px;
}
.detail-content .report-population h2 {
  font-size: 20px;
}
.detail-content .report-population .report-crowded-msg {
  display: flex;
  justify-content: center;
  width: 350px;
}
.detail-content .report-population .report-crowded-msg span {
  font-size: 17px;
  text-align: center;
}
.detail-content .report-live-weather h3 {
  font-size: 18px;
  color: #4c65a7;
  font-weight: bold;
  text-align: left;
  margin-bottom: 24px;
}
.detail-content .report-weather {
  box-shadow: rgba(173, 173, 173, 0.2196078431) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #dbdbdb;
  margin: 5px 0;
}
.detail-content .report-weather .today-weather-wrap .today-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.detail-content .report-weather .today-weather-wrap .img {
  display: flex;
  width: 65px;
}
.detail-content .report-weather .today-weather-wrap p {
  width: 300px;
  font-size: 17px;
  line-height: 1.7;
  text-align: justify;
}
.detail-content .report-weather .today-weather-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.detail-content .report-weather .today-weather-detail .temperature-img .img {
  display: flex;
  width: 65px;
}
.detail-content .report-weather .today-weather-detail p {
  width: 300px;
  font-size: 20px;
  line-height: 1.7;
  text-align: justify;
  font-size: 17px;
}

.map-container {
  transform: translateX(400px);
}

@media (max-width: 420px) {
  .sidebar {
    position: relative;
    background: #fff;
    transition: all 0.4s linear;
    transform: translateY(100%);
    width: 100vw;
    overflow: hidden;
  }
  .sidebar .board_container .board_header .close-btn {
    top: -5%;
  }
  .sidebar .sidebar-header {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .sidebar .sidebar-header p {
    text-align: center;
  }
  .sidebar .sidebar-header h1 {
    text-align: center;
  }
  .sidebar .sidebar-header button {
    font-size: 1.8rem;
    top: 0%;
    right: 2%;
  }
  .sidebar .sidebar-header .bookmark-btn {
    position: absolute;
    right: 50px;
    top: 6px;
    font-size: 1.5rem;
  }
  .sidebar .detail-bookmark button {
    position: absolute;
    top: 3%;
    width: 60px;
    height: 40px;
  }
  .sidebar .detail-content {
    width: 100vw;
  }
  .sidebar .detail-content .detail-information {
    width: 100%;
    max-width: 370px;
  }
  .sidebar .detail-content .detail-information .report-population {
    width: inherit;
    height: auto;
    padding: 18px;
  }
  .sidebar .detail-content .detail-information .report-population h3 {
    font-size: 1rem;
  }
  .sidebar .detail-content .detail-information .report-population h2 {
    font-size: 15px;
    font-weight: 600;
  }
  .sidebar .detail-content .detail-information .report-population .report-crowded-msg > span {
    font-size: 15px;
    font-weight: 500;
    width: auto;
  }
  .sidebar .detail-content .detail-information .report-weather {
    width: inherit;
    margin-top: 0px;
    height: auto;
    padding: 20px;
  }
  .sidebar .detail-content .detail-information .report-weather .report-live-weather h3 {
    font-size: 1rem;
  }
  .sidebar .detail-content .detail-information .report-weather .today-weather-wrap .today-weather {
    display: flex;
    align-items: center;
  }
  .sidebar .detail-content .detail-information .report-weather .today-weather-wrap .today-weather img {
    width: 40px;
  }
  .sidebar .detail-content .detail-information .report-weather .today-weather-wrap .today-weather p {
    width: 70%;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
  }
  .sidebar .detail-content .detail-information .report-weather .today-weather-detail p {
    width: 70%;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
  }
  .sidebar.show-sidebar {
    transform: translateY(0);
  }
}
.report-crowded {
  font-weight: 700;
  font-size: 30px;
}
.report-crowded.green {
  color: #3cb371;
}
.report-crowded.yellow {
  color: #ffcb5c;
}
.report-crowded.orange {
  color: #ffa500;
}
.report-crowded.red {
  color: #ff0000;
}

.loding_wrapper {
  position: relative;
}
.loding_wrapper .loding_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
  background: rgba(255, 255, 255, 0.6392156863);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loding_wrapper .loding_container .loding_text {
  font: 1rem "Noto Sans KR";
  text-align: center;
  margin: -30px 0 30px 0;
}
.loding_wrapper .loding_container img {
  width: 5%;
}

.show-sidebar .loding_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6392156863);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 420px) {
  .loding_container img {
    width: 15%;
  }
}/*# sourceMappingURL=loding.css.map */